<p>URL Rerlativa</p>
<a href="{{ path('blog_mostrar',{'slug':	'mi-articulo'})	}}">
    lee el artículo.
</a>
<p>URL Absoluta</p>

<a href="{{url('blog_mostrar', {'slug':	'mi-articulo'})	}}">
    lee el artículo.
</a>
